.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --background: #080808;
  --fontColour: #FFF;
  --accent: #ff00c4;
}


body{
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: var(--fontColour);
  z-index: 1;
  overflow-x: hidden;
  background-color: var(--background);
}

@media screen and (max-width: 576px) {
  .grid{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
  }

  .navbar-item{
    display: none;
  }

  .container{
    text-align: center;
    z-index: 1;
  }

  .display-1{
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    /*line-height: 21px;*/
  }

  .display-2{
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 21px;
  }

  .backgroundTextContainer{
    display: none;
    overflow-x:hidden ;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .backgroundText {
    font-size: 400px;
    margin: 0;
    color: rgb(244,244,244);
    line-height: 550px;
  }
}

@media screen and (min-width: 600px) {
  p{
    font-size: 22px;
  }
  .backgroundText {
    font-size: 600px;
    margin: 0;
    color: rgb(244,244,244);
    line-height: 550px;
  }

  .backgroundTextContainer{
    overflow-x:hidden ;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 40%;
  }

  .container{
    margin-right: 150px;
    margin-left: 150px;
  }

  .display-1{
    font-size: 120px;
    line-height: 120px;
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 20px;
  }
  .display-2{
    margin-top: 0;
    font-size: 60px;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .display-3{
    font-size: 44px;
    font-weight: 500;
    font-style: normal;
  }
  .text-right{
    text-align: right;
  }
  .navbar-item{
    color: var(--accent);
    font-size: 36px;
    margin-left:10px;
    margin-right:10px;
    text-decoration: none;
  }

  .navbar-item:hover{
    text-decoration: underline;
  }

  .navbar{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    grid-row: 1/2;
  }
  .navbar-logo{
    display: inline-flex;
    align-content: flex-end;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }


  .navbar-items{
    display: inline-flex;
    align-content: flex-end;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
  }

  .logo{
    height: 52px;
  }

  .grid{
    display: grid;
    grid-template-rows: minmax(20px, 150px) 3fr;
  }

  #home{
    margin-bottom: 50px;
  }

  .accentText{
    color: var(--accent);
  }
}